<mat-toolbar color="primary">
  <span class="header">Calories Diary</span>
  <div>
    <a mat-button routerLinkActive="mat-flat-button" [routerLink]="'/log'"
      >Eating Log</a
    >
    <a mat-button routerLinkActive="mat-flat-button" [routerLink]="'/dishes'"
      >Dishes</a
    >
  </div>
  <div class="spacer"></div>
  <div *ngIf="auth.user | async as user">
    <span class="username">Hi, {{ user.displayName }}!</span>
    <button mat-stroked-button (click)="logout()">Logout</button>
  </div>
</mat-toolbar>
