.header {
  margin-right: 1rem;
}

.username {
  margin-right: 1rem;
  font-size: 1rem;
}

a {
  color: white !important;
  padding: 0.5rem;
  border-radius: 0.25rem;
}

.active-link {
  background-color: #ff4081;
}
