<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>

  <ng-container matColumnDef="proteins">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Proteins</th>
    <td mat-cell *matCellDef="let element">{{ element.proteins }}</td>
  </ng-container>

  <ng-container matColumnDef="fats">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Fats</th>
    <td mat-cell *matCellDef="let element">{{ element.fats }}</td>
  </ng-container>


  <ng-container matColumnDef="carbs">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Carbs</th>
    <td mat-cell *matCellDef="let element">{{ element.carbs }}</td>
  </ng-container>

  <ng-container matColumnDef="calories">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Calories</th>
    <td mat-cell *matCellDef="let element">{{ element.calories }}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let element">
      <button
        mat-mini-fab
        color="primary"
        aria-label="Remove dish"
        (click)="onDeleteClick(element.id)"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
