<form [formGroup]="dishForm" (ngSubmit)="onSubmit()" (keyup.enter)="onSubmit()">
  <div>
    <div class="p-fluid">
      <div class="p-field">
        <label for="dishName">Dish Name</label>
        <input id="dishName" type="text" formControlName="name" pInputText />
      </div>
    </div>
        <div class="p-fluid">
      <div class="p-field">
        <label for="defaultServingSize">Default Serving Size</label>
        <input id="defaultServingSize" type="number" formControlName="defaultServingSize" pInputText />
      </div>
    </div>
    <div formArrayName="dishIngredients">
      <div class="sub-header">
        <strong>Ingredients list (total {{ dishIngredients.length }})</strong>
        <button
          pButton
          pRipple
          type="button"
          icon="pi pi-plus"
          class="p-button-rounded"
          (click)="addIngredient()"
        ></button>
      </div>

      <div
        *ngFor="let ingredient of dishIngredients.controls; index as i"
        [formGroup]="ingredient"
        class="p-fluid p-formgrid p-grid p-ai-center"
      >
        <div class="p-field p-col">
          <label for="ingredient">Ingredient</label>
          <p-autoComplete
            id="ingredient"
            formControlName="ingredient"
            [suggestions]="ingredientOptions"
            (completeMethod)="search($event)"
            field="name"
            appendTo="body"
            completeOnFocus="true"
          ></p-autoComplete>
        </div>
        <div class="p-field p-col">
          <label for="weight">Weight (g.)</label>
          <input id="weight" type="text" formControlName="weight" pInputText />
        </div>
        <button
          pButton
          pRipple
          type="button"
          icon="pi pi-trash"
          class="p-button-rounded p-button-secondary"
          (click)="deleteIngredient(i)"
        ></button>
      </div>
    </div>
  </div>
  <div class="footer">
    <button
      pButton
      label="Cancel"
      class="p-button-text p-button-secondary"
      (click)="onCancel()"
    ></button>
    <button pButton label="Add" type="submit"></button>
  </div>
</form>

<!--
<mat-dialog-content>
  <form [formGroup]="dishForm" (keyup.enter)="onSubmit()">
    <div>
      <mat-form-field class="full-width">
        <mat-label>Dish Name</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>
    </div>
    <div formArrayName="ingredients">
      <div class="sub-header">
        <strong>Ingredients list (total {{ ingredients.length }})</strong>
        <button
          mat-mini-fab
          color="primary"
          class="mr2"
          aria-label="Remove dish"
          (click)="addIngredient()"
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>

      <div class="dynamic-form">
        <div
          *ngFor="let ingredient of ingredients.controls; index as i"
          [formGroup]="ingredient"
          class="form-row"
        >
          <mat-form-field class="flex-1 mr2">
            <mat-label>Ingredient</mat-label>
            <input matInput type="number" formControlName="id" />
          </mat-form-field>
          <mat-form-field class="weight-input mr2">
            <mat-label>Weight (g.)</mat-label>
            <input matInput type="number" formControlName="weight" />
          </mat-form-field>
          <button
            mat-mini-fab
            color="secondary"
            class="mr2"
            aria-label="Remove dish"
            (click)="deleteIngredient(i)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="false">Cancel</button>
  <button
    mat-raised-button
    [mat-dialog-close]="dishForm.value"
    color="accent"
    cdkFocusInitial
  >
    Add
  </button>
</mat-dialog-actions> -->
