<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z2">
  <ng-container *ngFor="let colDef of colDefs" [matColumnDef]="colDef.field">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      {{ colDef.header }}
    </th>
    <td mat-cell *matCellDef="let element">
      <ng-container
        [ngTemplateOutlet]="
          colDef.type === 'number'
            ? numberCell
            : colDef.type === 'title'
            ? titleCell
            : textCell
        "
        [ngTemplateOutletContext]="{ cellValue: element[colDef.field] }"
      ></ng-container>
    </td>
  </ng-container>

    <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let element">
      <button
        mat-mini-fab
        color="primary"
        aria-label="Remove row"
        (click)="onDeleteClick(element.id)"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<ng-template #numberCell let-cellValue="cellValue">{{
  cellValue | number: "1.0-2"
}}</ng-template>

<ng-template #titleCell let-cellValue="cellValue">{{
  cellValue | titlecase
}}</ng-template>

<ng-template #textCell let-cellValue="cellValue">{{ cellValue }}</ng-template>
