
<div class="table-toolbar mat-elevation-z1">
  <div>
    <ng-container *ngTemplateOutlet="toolbarTemplate"></ng-container>
  </div>
  <mat-form-field appearance="outline" class="table-filter form-field-no-pad">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" #input>
  </mat-form-field>
</div>

<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z2">
  <ng-container *ngFor="let colDef of colDefs" [matColumnDef]="colDef.field">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      {{ colDef.header }}
    </th>
    <td mat-cell *matCellDef="let element">
      <ng-container
        [ngTemplateOutlet]="
          colDef.type === 'number'
            ? numberCell
            : colDef.type === 'title'
            ? titleCell
            : textCell
        "
        [ngTemplateOutletContext]="{ cellValue: element[colDef.field] }"
      ></ng-container>
    </td>
  </ng-container>

    <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let element">
      <div class="actions-column"><button
        *ngIf="editable"
        mat-mini-fab
        color="primary"
        aria-label="Edit row"
        (click)="onEditClick(element.id)"
      >
        <mat-icon>edit</mat-icon>
      </button>
      <button
        mat-mini-fab
        color="primary"
        aria-label="Remove row"
        (click)="onDeleteClick(element.id)"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<ng-template #numberCell let-cellValue="cellValue">{{
  cellValue | number: "1.0-2"
}}</ng-template>

<ng-template #titleCell let-cellValue="cellValue">{{
  cellValue | titlecase
}}</ng-template>

<ng-template #textCell let-cellValue="cellValue">{{ cellValue }}</ng-template>
