.actions-column {
  display: flex;

  button {
    margin-right: 0.5rem;
  }
}

.table-toolbar {
  padding: 0.5rem;
  display: flex;
  background: white;
  align-items: center;
}

.table-filter {
  flex: 1;
  margin-left: 1rem;
}
