<div *ngIf="!suppressToolbar" class="table-toolbar mat-elevation-z1">
  <div>
    <ng-container *ngTemplateOutlet="toolbarTemplate"></ng-container>
  </div>
  <mat-form-field appearance="outline" class="table-filter form-field-no-pad">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" #input />
  </mat-form-field>
</div>

<table
  mat-table
  matSort
  [dataSource]="dataSource"
  multiTemplateDataRows
  class="mat-elevation-z8"
>
  <ng-container *ngFor="let colDef of colDefs" [matColumnDef]="colDef.field">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      {{ colDef.header }}
    </th>
    <td mat-cell *matCellDef="let element">
      <ng-container
        [ngTemplateOutlet]="
          colDef.type === 'number'
            ? numberCell
            : colDef.type === 'title'
            ? titleCell
            : textCell
        "
        [ngTemplateOutletContext]="{ cellValue: element[colDef.field] }"
      ></ng-container>
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let element">
      <div *ngIf="!suppressActions" class="actions-column">
        <button
          *ngIf="expandedRowTemplate"
          mat-mini-fab
          color="primary"
          aria-label="Show ingredients"
          (click)="onExpandClick(element)"
        >
          <mat-icon *ngIf="element !== expandedElement">expand_more</mat-icon>
          <mat-icon *ngIf="element === expandedElement">expand_less</mat-icon>
        </button>
        <button
          *ngIf="editable"
          mat-mini-fab
          color="primary"
          aria-label="Edit row"
          (click)="onEditClick(element.id)"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button
          mat-mini-fab
          color="primary"
          aria-label="Remove row"
          (click)="onDeleteClick(element.id)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </td>
  </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td
      mat-cell
      *matCellDef="let element"
      [attr.colspan]="displayedColumns.length"
    >
      <div
        class="example-element-detail"
        [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'"
      >
        <ng-container
          *ngTemplateOutlet="expandedRowTemplate; context: { element: element }"
        ></ng-container>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
    mat-row
    *matRowDef="let element; columns: displayedColumns"
    class="example-element-row"
    [class.example-expanded-row]="expandedElement === element"
  ></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: ['expandedDetail']"
    class="example-detail-row"
  ></tr>
</table>

<ng-template #numberCell let-cellValue="cellValue">{{
  cellValue | number: "1.0-2"
}}</ng-template>

<ng-template #titleCell let-cellValue="cellValue">{{
  cellValue | titlecase
}}</ng-template>

<ng-template #textCell let-cellValue="cellValue">{{ cellValue }}</ng-template>
