<h1 mat-dialog-title>{{ title }}</h1>
<mat-dialog-content>
  <form [formGroup]="formGroup" (keyup.enter)="onSubmit()">
    <p>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Ingredient Name</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>
    </p>
    <ng-container formGroupName="foodValue">
      <div class="food-value-container">
        <mat-form-field hintLabel="Per 100 g." appearance="outline">
          <mat-label>Protein</mat-label>
          <input matInput type="number" formControlName="proteins" />
        </mat-form-field>

        <mat-form-field hintLabel="Per 100 g." appearance="outline">
          <mat-label>Fat</mat-label>
          <input matInput type="number" formControlName="fats" />
        </mat-form-field>

        <mat-form-field hintLabel="Per 100 g." appearance="outline">
          <mat-label>Carbs</mat-label>
          <input matInput type="number" formControlName="carbs" />
        </mat-form-field>

        <mat-form-field hintLabel="Per 100 g." appearance="outline" class="full-width">
          <mat-label>Calories</mat-label>
          <input matInput type="number" formControlName="calories" />
        </mat-form-field>
      </div>
    </ng-container>
    <p>
      <mat-form-field hintLabel="optional" appearance="outline" class="full-width">
        <mat-label>Default Serving Size</mat-label>
        <span matSuffix>(g.)</span>
        <input matInput type="number" formControlName="defaultServingSize" />
      </mat-form-field>
    </p>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="false">Cancel</button>
  <button
    mat-raised-button
    [mat-dialog-close]="formGroup.value"
    color="accent"
    cdkFocusInitial
  >
    {{ okButtonText }}
  </button>
</mat-dialog-actions>
