<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{ logDay.timestamp | date: "mediumDate" }}
    </mat-panel-title>
    <mat-panel-description>
      <div *ngFor="let value of foodValues" class="food-value">
        <div class="valueTitle">{{ value | titlecase }}</div>
        <div class="valueText">
          {{ logDay.totals && logDay.totals[value] | number: "1.0-2" }}
        </div>
      </div>
    </mat-panel-description>
  </mat-expansion-panel-header>

  <cd-data-table
    [rowData]="eatings"
    [colDefs]="columns"
    (rowRemoved)="onRowRemoved($event)"
  ></cd-data-table>
</mat-expansion-panel>
