.valueTitle {
  font-size: 12px;
}

.valueText {
  font-weight: bold;
}

.space-between {
  justify-content: space-between;
}

cd-data-table {
  padding: 1rem;
}

mat-panel-title {
  max-width: 300px;
}
