.valueTitle {
  font-size: 12px;
}

.valueText {
  font-weight: bold;
}

.food-value {
  flex: 1;
  margin-right: 1rem;
}

mat-expansion-panel {
  margin-bottom: 0.5rem;
}

cd-data-table {
  padding: 1rem;
}

mat-panel-title {
  max-width: 300px;
  align-self: center;
}

.mat-expansion-panel-header-description {
  flex-wrap: wrap;
}

.mat-expansion-panel-header {
  height: auto;
  min-height: 60px;
  padding: 12px 24px;
}
