<h1 mat-dialog-title>Add New Eating</h1>
<mat-dialog-content>
  <form [formGroup]="eatingForm" (keyup.enter)="onSubmit()">
    <p>
      <mat-form-field class="full-width">
        <mat-label>Dish Name</mat-label>
        <input
          type="text"
          placeholder="Pick one"
          aria-label="Number"
          matInput
          formControlName="dishName"
          [matAutocomplete]="auto"
        />
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option
            *ngFor="let option of filteredOptions | async"
            [value]="option"
          >
            {{ option }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="full-width">
        <mat-label>Portion Size (g.)</mat-label>
        <input matInput type="number" formControlName="portionSize" />
      </mat-form-field>
    </p>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="false">Cancel</button>
  <button
    mat-raised-button
    [mat-dialog-close]="eatingForm.value"
    color="accent"
    cdkFocusInitial
  >
    Add
  </button>
</mat-dialog-actions>
