<form [formGroup]="formGroup" class="form-group">
  <mat-form-field appearance="outline" class="form-field-no-pad">
    <mat-label>Dish</mat-label>
    <input
      type="text"
      matInput
      formControlName="dish"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete
      #auto="matAutocomplete"
      [displayWith]="displayFn"
      (optionSelected)="onDishSelected($event)"
    >
      <mat-option *ngFor="let option of dishOptions$ | async" [value]="option">
        {{ option.name | titlecase }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field appearance="outline" class="form-field-no-pad">
    <mat-label>Serving Size</mat-label>
    <span matSuffix>(g.)</span>
    <input matInput type="number" formControlName="servingSize" />
  </mat-form-field>
</form>
