<div class="page">
  <div class="table-toolbar">
    <button mat-raised-button color="accent" (click)="onAddEatingClick()">
      Add Eating
    </button>
  </div>

  <!-- <cd-eatings-table
        [data]="tableData$ | async"
        (deleteClick)="onDeleteEatingClick($event)"
      ></cd-eatings-table> -->


  <div *ngFor="let day of week">
    <div *ngIf="tableData.get(day) | async as eatingsForDay">
      <ng-container *ngIf="eatingsForDay.length > 0">
        <h2>{{ day | date: "mediumDate" }}</h2>
        <cd-eatings-table
          [data]="eatingsForDay"
          (deleteClick)="onDeleteEatingClick($event)"
        ></cd-eatings-table>
      </ng-container>
    </div>
  </div>
</div>
