body {
  min-height: 100vh;
}

body {
  margin: 0;
}

.loading {
  opacity: 0.5;
  pointer-events: none;
  cursor: wait;
}

.has-border-bottom-grey {
  border-bottom: 2px solid hsl(0, 0%, 48%);
}

.box {
  padding: 1rem;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: all ease 0.35s;
}

.accordion-item {
  transition: all ease 0.35s;
}

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}


.flex-1 {
  flex: 1;
}
