/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.spacer {
  flex: 1 1 auto;
}

.page {
  margin: 1rem;
}

.text-center {
  text-align: center;
}

table {
  width: 100%;
}

.table-toolbar {
  margin-bottom: 0.5rem;
}

.full-width {
  width: 100%;
}

.mat-column-actions {
  width: 50px;
}

.mat-footer-cell {
  font-weight: bold;
}

.mr2 {
  margin-right: 1rem !important;
}

.flex-1 {
  flex: 1;
}
