<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  <ng-container matColumnDef="dishName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>dish</th>
    <td mat-cell *matCellDef="let element">{{ element.dishName }}</td>
    <td mat-footer-cell *matFooterCellDef>Total</td>
  </ng-container>

  <ng-container matColumnDef="portionSize">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>portion</th>
    <td mat-cell *matCellDef="let element">
      {{ element.portionSize | number }}
    </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <ng-container matColumnDef="fat">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>fat</th>
    <td mat-cell *matCellDef="let element">{{ element.fat | number }}</td>
    <td mat-footer-cell *matFooterCellDef>{{ getTotals("fat") | number }}</td>
  </ng-container>

  <ng-container matColumnDef="protein">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>protein</th>
    <td mat-cell *matCellDef="let element">{{ element.protein | number }}</td>
    <td mat-footer-cell *matFooterCellDef>
      {{ getTotals("protein") | number }}
    </td>
  </ng-container>

  <ng-container matColumnDef="carbohydrate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>carbohydrate</th>
    <td mat-cell *matCellDef="let element">
      {{ element.carbohydrate | number }}
    </td>
    <td mat-footer-cell *matFooterCellDef>
      {{ getTotals("carbohydrate") | number }}
    </td>
  </ng-container>

  <ng-container matColumnDef="calories">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>calories</th>
    <td mat-cell *matCellDef="let element">{{ element.calories | number }}</td>
    <td mat-footer-cell *matFooterCellDef>
      {{ getTotals("calories") | number }}
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let element">
      <button
        mat-mini-fab
        color="primary"
        aria-label="Remove уфештп"
        (click)="onDeleteClick(element)"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
</table>
