<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>

  <ng-container matColumnDef="fat">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Fat</th>
    <td mat-cell *matCellDef="let element">{{ element.fat }}</td>
  </ng-container>

  <ng-container matColumnDef="protein">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Protein</th>
    <td mat-cell *matCellDef="let element">{{ element.protein }}</td>
  </ng-container>

  <ng-container matColumnDef="carbohydrate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Carbohydrate</th>
    <td mat-cell *matCellDef="let element">{{ element.carbohydrate }}</td>
  </ng-container>

  <ng-container matColumnDef="calories">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Calories</th>
    <td mat-cell *matCellDef="let element">{{ element.calories }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
